body {
  background: rgb(254, 255, 193);
  font-family: 'Open Sans', sans-serif;
}

#all {
  margin-top: 10em;
}

#prompt {
  font-family: 'Montserrat', sans-serif;
}

#search-field {
  width: 8em;
  text-align: center;
  outline: none;
}

#results {
  font-size: 1.5em;
  margin-top: 3em;
  visibility: hidden;
  text-align: center;
}

#profile-photo-wrapper {
  position: absolute;
  width: 100%;
  height: 260px;
  border: solid 30px black;
  top: 60%;
}

#twitter-photo {
  display: block;
  margin: auto;
}

.tip {
  border-bottom: 1px dotted grey;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}
.tip:hover {
  cursor: help;
}
.tooltip-inner {
    background-color: #e859ff;
    color: #fff;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #e859ff;
}

.errorAnimator {
  animation: blink 1000ms forwards;
}

@keyframes blink {
    from { color: red; }
    to { color: white; }
};
