#all {
  margin-top: 10em;
}

#search-field {
  width: 7em;
}

#results {
  font-size: 1.5em;
  margin-top: 3em;
  visibility: hidden;
  text-align: center;
}

.errorAnimator {
  color: red;
  animation: blink 700ms 4 alternate;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
};
